#header {
    color: gold;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.card-header {
    color: gold;
}

#main {
    margin-left: 100px;
    margin-right: 100px;
}

#trainForm {
    margin-left: 75px;
    margin-right: 75px;
}